#forum_container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
}

#forum_header{
    width: 100%;
}

#forum_list_groups{
    width: 100%;
}

#forum_messages{
    width: 79%;
}

#forum_messages h2{
    text-align: center;
}

#forum_group_container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    flex-flow: column wrap;
    justify-content: space-around;
}

#forum_group_container li{
    user-select: none;
}

#forum_group_container li:hover{
    background-color: lightgray;
}

#forum_group_container li:active{
    background-color: darkgray;
    color: white;
}
